* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-right: 90px;
    padding-bottom: 100px;
}


img {
    width: 150%;
    vertical-align: top;
    cursor : pointer;
}

.cards li div img{
    border : 2px outset rgba(213, 208, 208, 0.67);
}

body {
    background: #f5f3fa;
}

.wrap__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 900px;
}

.card__inner {
    width: 600px;
    height: 900px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;

}

.cards li {
    width: calc(160% / 3 - 20px);
    height: calc(220% / 3 - 20px);
    /*width: 300px;*/
    /*height: 300px;*/
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    cursor : pointer;
}

.cards li .view {
    position: absolute;
    padding: 10%;
    margin-right: 50%;
    transition: transform 0.5s linear;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.cards li .view.front {
    z-index: 10;

    transform: rotateY(0deg);
}

.cards li .view.back {
    transform: rotateY(180deg);
}

.cards li.flip .view.front {
    transform: rotateY(-180deg);
}

.cards li.flip .view.back {
    transform: rotateY(0deg);
}


#nav {
    width: 100%;
    height: 70px;
    background: white;
}

#nav div {
    margin-top: 20px;
    margin-left: 33px;
}


#footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 3px;
    width: 100%;
    height: 80px;
    /*background : whitesmoke;*/
    background: lightgrey;
}

.return {
    border: none;
    background: none;
}

#nav .return img {
    width: 7%;
}

#footer .return img {
    width: 20%;
}

