<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.DAO.UserMapper">

    <!--검색 쿼리 완성본-->
    <sql id="searchCondition">
        <choose>
            <when test='option=="id"'>
                And id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="name"'>
                And name LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="dpt"'>
                And dpt LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="email"'>
                And email LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="phone"'>
                And phone LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                And AUTHORITY != 'ROLE_ADMIN'
            </otherwise>
        </choose>
    </sql>

    <select id="SearchResultUser" parameterType="SearchCondition" resultType="UserDto">
        SELECT *
        FROM user
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY regdate DESC
        LIMIT #{offset}, #{pageSize}
    </select>


    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM  user
        WHERE true
        <include refid="searchCondition"/>
    </select>


    <select id="select" parameterType="String" resultType="UserDetailsDto">
        SELECT *
        FROM user
        WHERE id = #{id};
    </select>

    <select id="selectUserInfo" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        WHERE id = #{id};
    </select>


    <select id="selectAll" resultType="UserDto">
        SELECT id,
               pwd,
               name,
               email,
               dpt,
               phone,
               regdate,
               expirationDate,
               authority,
               enabled
        FROM user
        WHERE AUTHORITY != 'ROLE_ADMIN'
        ORDER BY regdate DESC;
    </select>


    <insert id="insert" parameterType="UserDetailsDto">
        INSERT INTO user (id, pwd, name, email, dpt, phone)
        VALUES (#{id}, #{pwd}, #{name}, #{email}, #{dpt}, #{phone});
    </insert>

    <update id="update" parameterType="UserDetailsDto">
        UPDATE user
        SET pwd   = #{pwd},
            name  = #{name},
            phone = #{phone},
            WHERE id = #{id};
    </update>

    <update id="changePwd" parameterType="UserDetailsDto">
        UPDATE user
        SET pwd = #{pwd}
        WHERE id = #{id};
    </update>

    <select id="checkPwd" parameterType="String" resultType="String">
        SELECT pwd
        FROM user
        WHERE id = #{id}
    </select>

    <update id="changeDptPhone" parameterType="UserDetailsDto">
        UPDATE user
        SET dpt   = #{dpt},
            phone = #{phone}
        WHERE id = #{id};
    </update>

    <update id="changeEnabled" parameterType="map">
        UPDATE user
        SET enabled = #{enabled}
        WHERE id = #{id};
    </update>

    <update id="updateExpDateAndEnabled" parameterType="UserDto">
        UPDATE user
        SET expirationDate = #{expirationDate},
            enabled = #{enabled}
        WHERE id = #{id}
        AND name = #{name};
    </update>

    <delete id="delete" parameterType="String">
        DELETE
        FROM user
        WHERE id = #{id};
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM user
    </delete>

    <select id="validation" parameterType="userDetailsDto" resultType="int">
        SELECT count(*)
        FROM user
        WHERE id = #{id}
          AND email = #{email}
    </select>

    <select id="count" parameterType="String" resultType="int">
        SELECT count(*)
        FROM user
        WHERE id = #{id}
    </select>


    <select id="selectUserINFO" parameterType="String" resultType="UserDetailsDto">
        SELECT *
        FROM user
        WHERE id = #{id};
    </select>



</mapper>