* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section#container {
  width: 600px;
  height: 900px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

.box {
  /*width: 500px;*/
  width: 100%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: ghostwhite;
  padding: 70px 10px 0px 15px;
  margin-top: 30px;
  /*margin: 50px 30px 30px 30px;*/
}
.title {
  margin-bottom: 60px;
}

.inputBox {
  width: 500px;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

button.none,
button.sendBtn {
  width: 100px;
  height: 40px;
  cursor : pointer;
}

button.none {
  margin-left: 10px;
  background-color: white;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  visibility: hidden;
}

button.sendBtn {
  margin-left: 10px;
  background-color: white;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

input.inputitem {
  height: 30px;
}

.item .id,
.item .inputitem {
  margin-left: 6px;
}

.message {
  position: absolute;
  left: 70px;
  top: -18px;
  font-size: 12px;
  color: #e78989;
}

#form {
  margin-bottom: 50px;
  margin-top: 30px;
}

img {
  width: 8%;
  vertical-align: top;
  cursor : pointer;

}

#nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 75px;
  margin-top: 220px;
}
