* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #f5f3fa;
  overflow: hidden;
}

section#container {
  width: 600px;
  height: 900px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}

section#nav {
  width: 100%;
  height: 90px;
  background: white;
}

.return {
  border: none;
  background: none;
}

#nav .return i {
  width: 48px;
  height: 48px;
  background: white;
  font-size: 48px;
  color: lightgray;
  padding-top: 11px;
  margin-left: 60px;
}

form#regist-form {
  background-color: white;
}

li.inputBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 30px;
}

li.inputBox:nth-child(6) {
  margin-bottom: 20px;
}

.inputBox.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.inputBox.items input {
  height: 40px;
  width: 200px;
}

.inputBox.items.item1 {
  width: 20px;
}

.inputBox.items.name {
  width: 90px;
}
.inputBox.items.item1,
.inputBox.items.name {
  position: relative;
}

.inputBox.items.item1,
.inputBox.items.name,
input[name] {
  margin-right: 15px;
}

input[name] {
  padding-left: 10px;
}

.inputBox input::before {
  content: "아이디를 입력해주세요";
}

.inputBox.items.item1 span {
  color: #76e7b8;
}
.inputBox.items.item1 span,
.inputBox.items.name span {
  font-size: 20px;
  line-height: 50px;
}

span.requestField {
  width: 200px;
  height: 20px;
  position: absolute;
  color: #e69d9d;
  top: -18px;
  left: 140px;
  font-size: 12px;
}

button.checkBtn {
  margin-left: 10px;
  background-color: white;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor : pointer;
}

button.none {
  margin-left: 10px;
  background-color: white;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  visibility: hidden;
}

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  gap: 276px;
}

.infoBox .agreement label,
.infoBox .agreement input[type="checkbox"] {
  margin-left: 5px;
}

button.registerBtn {
  background-color: white;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor : pointer;
}

section#footer {
  padding: 10px 60px 0px 60px;
  background-color: #efefef;
}

.info {
  overflow: scroll;
  width: 100%;
  height: 400px;
}
